{% extends "base_generic.html" %}
{% block title %} <title>Aromas</title> {% endblock %}

{% block content %}
<div class="masthead container d-flex align-items-center flex-column">
  <h2 class="text-center text-uppercase">Aromas</h2>
  <div style="width: 60%; height: 50px;"><a class="btn btn-primary" href="{% url 'aroma_create' %}" style="float: right; font-size: 14px;">Agregar aroma 
                <!-- <span class="glyphicon glyphicon-plus"></span> -->
            </a>
  </div>
</div>
{% if aroma_list %}
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10" ">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                </tr>
              </thead>

                {% for aroma in aroma_list %}
                        <tr>
                            <td><a href="{{ aroma.get_absolute_url }}" style="color: rgb(117, 2, 79);"> {{ aroma.nombre }} </a></td>
                            <td>{{ aroma.descripcion }}</td>
                        </tr>
                {% endfor %}
        </table>

        {% if is_paginated %}
          <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
          {% endif %}

          {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
              <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
          {% endif %}
          </ul>
        {% endif %}

    </div>
    {% else %}
        <p>No hay aromas disponibles</p>

    {% endif %}
    </div>
    <div class="col-sm-1"></div>
</div>
{% endblock %}