{% extends "base_generic.html" %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}
<div class="alert alert-primary text-center my-5" role="alert" style="color: rgb(129, 16, 95); background-color: rgb(248, 213, 231); border-color: rgb(77, 3, 47);">
    <h2 style="font-weight: bold;">Restablecimiento de contraseña completado</h2>
    Su contraseña ha sido establecida. Ahora puede continuar e iniciar sesión.
    <br>
    <div class="text-center">
    <a href="{% url 'login' %}" class="alert-link text-center p-auto" style="color: rgb(105, 9, 75);">Iniciar sesión.</a>
  </div>
{% endblock %}