{% extends "base_generic.html" %}

{% block title %}
<title>Restablecer contraseña</title>
{% endblock %}

{% block content %}
<div class="alert alert-primary text-center my-5" role="alert" style="color: rgb(129, 16, 95); background-color: rgb(248, 213, 231); border-color: rgb(77, 3, 47);">
    <h2 style="font-weight: bold;">Restablecimiento de contraseña enviado</h2>
    Le enviamos instrucciones por correo electrónico para configurar su contraseña, 
    si existe una cuenta con el correo electrónico que ingresó. Debería recibirlos en breve.
    Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró 
    y verifique su carpeta de correo no deseado.
    <br>
    <div class="text-center">
    <a href="{% url 'login' %}" class="alert-link text-center p-auto" style="color: rgb(105, 9, 75);">Ir al login.</a>
  </div>
{% endblock %}